In [1]:
import pandas as pd

In [2]:
epic = pd.read_csv("epic_children.csv")
epic.head()

,parents,n_sons,sons,n_daughters,daughters,n_unknown_sex,epic,comments
0,Abhimanyu,1,NaN,0,NaN,NaN,mahabharat,https://en.wikipedia.org/wiki/Abhimanyu
1,Abraham,8,NaN,0,NaN,NaN,bible,NaN
2,Abraham,2,NaN,0,NaN,NaN,quran,diff. from bible
3,Adam and Eve,2,NaN,0,NaN,NaN,bible,NaN
4,Adhiratha,1,NaN,0,NaN,NaN,mahabharat,NaN

In [3]:
epic_hind = epic[epic['epic'].isin(['ramayan', 'mahabharat'])]
epic_hind.shape

(117, 8)

In [4]:
(epic_hind['n_sons'] + epic_hind['n_daughters']).describe()

count     117.000000
mean       15.752137
std        94.128480
min         1.000000
25%         1.000000
50%         2.000000
75%         5.000000
max      1002.000000
dtype: float64

In [5]:
epic_hind['n_sons'].sum()/epic_hind['n_daughters'].sum()

24.95774647887324

In [6]:
(epic_hind['n_daughters']/(epic_hind['n_sons'] + epic_hind['n_daughters'])).mean()

0.14713208671011788

In [7]:
epic_small = epic_hind[(epic_hind['n_sons'] + epic_hind['n_daughters']) < 50 ]
epic_small['n_sons'].sum()/epic_small['n_daughters'].sum()

4.810344827586207

In [8]:
epic

,parents,n_sons,sons,n_daughters,daughters,n_unknown_sex,epic,comments
0,Abhimanyu,1,NaN,0,NaN,NaN,mahabharat,https://en.wikipedia.org/wiki/Abhimanyu
1,Abraham,8,NaN,0,NaN,NaN,bible,NaN
2,Abraham,2,NaN,0,NaN,NaN,quran,diff. from bible
3,Adam and Eve,2,NaN,0,NaN,NaN,bible,NaN
4,Adhiratha,1,NaN,0,NaN,NaN,mahabharat,NaN
...,...,...,...,...,...,...,...,...
171,Hema,2,NaN,1,mandodari,NaN,ramayan,https://en.wikipedia.org/wiki/List_of_characte...
172,Mandodari,3,NaN,0,NaN,NaN,ramayan,https://en.wikipedia.org/wiki/Mandodari
173,Prahasta,8,NaN,0,NaN,NaN,ramayan,NaN
174,Sampati,2,NaN,0,NaN,NaN,ramayan,https://en.wikipedia.org/wiki/Sampati
175,Tataka,2,NaN,0,NaN,NaN,ramayan,https://en.wikipedia.org/wiki/Tataka