In [1]:
import pandas as pd

In [4]:
epic = pd.read_csv("epic_children.csv")
epic.head()

,id,parents,n_sons,sons,n_daughters,daughters,n_unknown_sex,n_total,epic,comments
0,1,Dashrath and 3 women,4.0,"shatrughana, ram, lakshman, bharat",1.0,shanta,0.0,5,ramayan,NaN
1,2,Ram and Sita,2.0,Luv and Kush,0.0,NaN,0.0,2,ramayan,NaN
2,3,Kush and Kumudvati,1.0,Atithi,0.0,NaN,0.0,1,ramayan,NaN
3,4,Lakshman and Urmila,2.0,Angada and Chandraketu,0.0,NaN,0.0,2,ramayan,NaN
4,5,Bharat and Mandavi,2.0,Taksha and Pushkala,0.0,NaN,0.0,2,ramayan,NaN

In [5]:
epic_hind = epic[epic['epic'].isin(['ramayan', 'mahabharat'])]
epic_hind.shape

(80, 10)

In [6]:
epic_hind['n_sons'].sum()/epic_hind['n_daughters'].sum()

12.844444444444445

In [10]:
(epic_hind['n_daughters']/(epic_hind['n_sons'] + epic_hind['n_daughters'])).mean()

0.1368567886464668

In [7]:
epic_small = epic_hind[(epic_hind['n_sons'] + epic_hind['n_daughters']) < 50 ]
epic_small['n_sons'].sum()/epic_small['n_daughters'].sum()

5.457142857142857

In [ ]:
epic